* {
    box-sizing: border-box;
    color:white;
}

body {
    background-image: url("../resources/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreBoard {
    display: flex;
}

.scoreBoard div {
    display: flex;
    flex-direction: column;
    align-items: center;
}