@font-face {
    font-family: "mk1";
    src: url("../resources/fonts/mk1.ttf") format("TrueType");
}

@font-face {
    font-family: "mk2";
    src: url("../resources/fonts/mk2.ttf") format("TrueType");
}

* {
    box-sizing: border-box;
    color:white;
    font-family: mk1;
}

body {
    background-image: url("../resources/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    font-family: mk1;
    font-size: 5rem;
    /* border:red 1px solid; */
    margin-top:8rem;
}

header h1 {
    color: red;
    text-shadow: 5px 10px 2px rgba(0, 0, 0, 0.911);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    row-gap: 70px;
}

.result p {
    font-size: 3rem;
    text-shadow: 4px 4px rgb(0, 0, 0);
}

.scoreBoard {
    display: flex;
    font-size: 3.5rem;
    display: flex;
    column-gap: 20rem;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

.scoreBoard div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapon {
    display: flex;
    column-gap: 40px;
}

.weapon button {
    font-size: 2.5rem;
    background-color: rgb(119, 119, 119);
    border: outset 5px rgba(158, 158, 158, 0.997);
}
.weapon button:hover {
    box-shadow: 0 0 20px yellow;
}

.weapon button:active {
    position: relative;
    top: 2px;
}